<div class="popin-content">
    <div class="popin-header">
        <button type="button" class="popin-btn popin-btn-close" data-dismiss="modal" aria-label="Close">{{ ('global.back')|trans|upper }}</button>
        <h3 class="popin-subtitle">{{ ('forgot.form.title')|trans|upper }}</h3>
        <p class="popin-description">{{ ('forgot.form.description')|trans }}</p>
    </div>
    <div class="popin-body">
        {% if errors is defined %}
            <div class="alert alert-danger alert-dismissible popin-group-error" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for error in errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form id="forgotPasswordForm" action="{{ path('chaplean_user_forgot') }}" method="post" data-idparent="#loginModal">
            <div class="popin-form-group">
                <label class="col-sm-1 popin-required"></label>
                <div class="col-sm-11 popin-form-control">
                    {{ form_widget(form.email , {'attr': {'placeholder': ('register.form.email')|trans, 'class': 'popin-form-input'} }) }}
                </div>
            </div>
            <div hidden>
                {{ form_widget(form._token) }}
            </div>
            <div class="popin-form-submit">
                <input type="submit" class="popin-btn" value="{{ 'register.form.send'|trans }}"/>
            </div>
        </form>
    </div>
    <div class="popin-footer">
        <div class="popin-legend"><label class="popin-required"></label><span>{{ ('opinion.required')|trans }}</span></div>
    </div>
</div>